<div *ngIf="gameState === enumValues.IN_LOBBY"  id="main-container">
  <!-- Accquiring player information -->
  <div *ngIf="isLoggingIn" id="newplayer-info">
    <label for="room-input">Player name</label>
    <input type="text" class="room-input"
      [(ngModel)]="player.name" id="player-name">
    <br>
    <label for="player-emoji">Emoji</label>
    <input type="text" [(ngModel)]="player.emoji"
      class="room-input emoji" id="player-emoji" maxlength="4">

    <br>
    <input *ngIf="room.isPrivate" type="text" [(ngModel)]="roomPasswordTry" class="room-input">

    <br>
    <button [attr.disabled]="(player.name !== '' && player.emoji !== '') ? true : null" class="mainbtn room-input" id="enter-btn" (click)="enterRoom()">
      Enter the room
    </button>
  </div>

  <!-- Main lobby screen-->
  <div id="lobby" [class]="isLoggingIn ? 'blur' : ''">
    <p class="lobby-title">Pre-game Lobby</p>



    <div class="players">
      <ng-container *ngFor="let player of players" >
        <div class="emoji-div">
          <p class="emoji">{{player.emoji}}</p>
        </div>
        <p class="name">{{player.name}}</p>
      </ng-container>
    </div>

    <div class="info">
      {{room.readyCount}}/{{players.length}} are ready
      <br>
      <button (click)="toggleReady()" [class]="isReady ? 'ready-btn ready' : 'ready-btn not-ready'">
        {{ isReady ? 'Ready' : 'Not ready' }}
      </button>
    </div>
  </div>
</div>

<app-game
  *ngIf="gameState === enumValues.IN_GAME"
  [room]="room"
  [gameState]="gameState"
  (changeGameState)="onGameStateChanged($event)"
  [players]="players"
  [player]="player"
  [tales]="tales"
  (updateTales)="onTalesUpdated($event)"></app-game>

<app-after
  *ngIf="gameState === enumValues.AFTER_GAME"
  [gameState]="gameState"
  [room]="room"
  [players]="players"
  [player]="player"
  (changeGameState)="onGameStateChanged($event)" [tales]="tales"></app-after>
