#main-view
  overflow: hidden
  display: grid
  grid-template-rows: 1fr 3fr 1fr

.tale-title
  font-size: 2rem
  font-weight: bold
  color: white
  background-color: black

input.tale-title
  font-weight: normal

.writing-zone
  font-family: Calibri
  color: white
  font-size: 1.2rem

textarea
  color: white
  background-color: black
  font-family: Calibri
  font-size: 1.5rem
  margin-top: 10%

.ready-btn
  font-size: 2rem

.ready
  background-color: green

