<div class="home-grid">
  <h1 class="title">Nous Tale</h1>
  <p class="title">Create stories with your friends.</p>
  <div>
    <button (click)="showCreateRoom()" id="create-room" class="mainbtn">
      Create Room
    </button>
    <button (click)="showEnterRoom()" id="enter-room" class="mainbtn">
      Enter Room
    </button>
  </div>

  <div id="create-room" class="room-manag-div"
    *ngIf="creatingRoom" @inSnapOut>

    <label for="is-private">Create a private room</label>
    <input [(ngModel)]="isPrivate" type="checkbox" id="is-private" class="room-input">

    <br>
    <label *ngIf="isPrivate" @inOut for="room-password">Password</label>
    <input *ngIf="isPrivate" @inOut [(ngModel)]="roomPassword" type="text" id="room-password" class="room-input" />

    <br>
    <label for="max-player">Max. players</label>
    <button *ngFor="let option of maxPlayerOptions" (click)="setMaxPlayers(option)"
      [class]="maxPlayers === option
      ? 'room-input maxplayers-btn selected'
      : 'room-input maxplayers-btn'">
      {{option}}
    </button>

    <br>
    <button [attr.disabled]="isPrivate && roomPassword === '' ? true : null"
      (click)="createRoom()" class="room-input"
      id="create-room-ex">Create your room</button>
  </div>
  <div id="enter-room" class="room-manag-div"
    *ngIf="enteringRoom" @inSnapOut>
    <label for="room-code">Room code:</label>
    <input type="text" [(ngModel)]="roomCode" id="room-code" class="room-input">
    <br>
    <button (click)="enterRoom()" *ngIf="roomCode !== ''" @inOut id="room-code" class="room-input mainbtn">
      Enter room
    </button>
  </div>

</div>
